name: CI/CD for shelf_api_builder

on:
  workflow_dispatch:
  push:
    branches:
      - "**"
    paths:
      - "packages/shelf_api_builder/**"
      - ".github/workflows/shelf_api_builder_ci.yaml"
      - ".github/workflows/shelf_api_builder_cd.yaml"

jobs:
  ci:
    name: CI
    uses: Skycoder42/dart_test_tools/.github/workflows/dart.yml@main
    with:
      workingDirectory: packages/shelf_api_builder
      buildRunner: true
      panaScoreThreshold: 10
      unitTestPaths: ""
      integrationTestPaths: -P integration

  cd:
    name: CD
    uses: Skycoder42/dart_test_tools/.github/workflows/release.yml@main
    needs:
      - ci
    with:
      workingDirectory: packages/shelf_api_builder
      tagPrefix: shelf_api_builder-v
    secrets:
      githubToken: ${{ secrets.GH_PAT }}
